{% extends "base.html" %}

{% block content %}

	<script type="text/javascript">
		function passModalData(comment_id) {
			var modal_input = document.getElementById('edit-comment-modal-input');
			modal_input.value = comment_id;

			var modal_textarea = document.getElementById('edit-comment-textarea');
			modal_textarea.innerHTML = document.getElementById('comment:' + comment_id).innerHTML;
		}

		function deleteCommentHelper(comment_id) {
			var modal_input = document.getElementById('delete-comment-button-hidden-input');
			modal_input.value = comment_id;
		}
	</script>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header" style="background-image: url('img/about-bg.JPG')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>{{ post.title }}</h1>
						<h4>{{ post.username }} | {{ post.created.date() }}</h4>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<p></p>
			<div class="col-lg-10">
				{{ post.post_content }}
			</div>
			{% if post.username|string() == user.name|string() %}
				<div class="btn-group btn-group-sm col-md-2">
					<button class="btn btn-default" data-toggle="modal" data-target="#delete-post-modal">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button class="btn btn-default" data-toggle="modal" data-target="#edit-post-modal">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-lg-8">
				<h3>Comments</h3>
				<hr class="small">
				{% for comment in comments %}
					<div>
						<div class="comment">
							<h4> {{comment.username}} </h4>
							<p id="comment:{{comment.key()}}"> {{comment.comment_text}} </p>
							<p class="text-muted"> {{comment.created.date()}} </p>
							{% if comment.username|string() == user.name|string() %}
								<div class="btn-group btn-group-sm">
									<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete-comment-modal" value="{{comment.key()}}" onclick="deleteCommentHelper(this.value)">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
									<button value="{{comment.key()}}" class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit-comment-modal" onclick="passModalData(this.value)">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</div>
							{% endif %}
						</div>
						<br>
					</div>
				{% endfor %}
			</div>
		</div>
		<!-- Trigger the add comment modal with a button -->
		{% if user %}
			<div class="row">
				<div class="col-lg-2">
				<hr class="small">
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#add-comment-modal">Add Comment</button>
				</div>
				{% if post.username|string() != user.name|string() %}
					<div class="col-lg-1">
					<hr class="small">
						<form method="post">
							<input type="hidden" name="action" value="like-click">
							{% if user.name|string() in post.likers %}
								<button type="submit" class="btn btn-info btn-md" name="username" value="{{user.name}}">
									<span class="glyphicon glyphicon-thumbs-down"></span>
									{{post.likes}}
								</button>
							{% else %}
								<button type="submit" class="btn btn-info btn-md" name="username" value="{{user.name}}">
									<span class="glyphicon glyphicon-thumbs-up"></span>
									{{post.likes}}
								</button>
							{% endif %}
						</form>
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
	<hr>
	<!-- Add Comment Modal -->
	<div class="container-fluid">
		<div id="add-comment-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Add Comment</h4>
					</div>
					<div class="modal-body">
						<form name="add-comment-orm" method="post" novalidate>
							<p class="alert-warning">
								{{error}}
							</p>
							<div class="row control-group">
								<div class="form-group col-xs-12 controls">
									<label>Message</label>
									<textarea class="form-control" placeholder="Content" name="comment_text"></textarea>
								</div>
								<input type="hidden" name="post_id={{post.key()}}">
								<input type="hidden" name="action" value="add-comment">
							</div>
							<br>
							<div class="row">
								<div class="form-group col-xs-12">
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit Post Modal -->
	<div class="container-fluid">
		<div id="edit-post-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Edit Post</h4>
					</div>
					<div class="modal-body">
						<form name="edit-post-form" method="post" novalidate>
							<p class="alert-warning">
								{{error}}
							</p>
							<div class="row control-group">
								<div class="form-group col-xs-12 controls">
									<label>Title</label>
									<input type="text" class="form-control" placeholder="Title" name="edited-title" value="{{post.title}}">
								</div>
							</div>
							<div class="row control-group">
								<div class="form-group col-xs-12 controls">
									<label>Content</label>
									<textarea class="form-control" placeholder="Content" name="edited-content">{{post.post_content}}</textarea>
								</div>
							</div>
							<input type="hidden" name="action" value="edit-post">
							<br>
							<div class="row">
								<div class="form-group col-xs-12">
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit Comment Modal -->
	<div class="container-fluid">
		<div id="edit-comment-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Edit Comment</h4>
					</div>
					<div class="modal-body">
						<form name="edit-comment-form" method="post" novalidate>
							<p class="alert-warning">
								{{error}}
							</p>
							<div class="row control-group">
								<div class="form-group col-xs-12 controls">
									<label>Comment</label>
									<textarea class="form-control" placeholder="Content" name="edited-comment-text" id="edit-comment-textarea"></textarea>
								</div>
							</div>
							<input type="hidden" name="action" value="edit-comment">
							<input type="hidden" name="comment_id" id="edit-comment-modal-input" value="">
							<br>
							<div class="row">
								<div class="form-group col-xs-12">
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete Post Modal -->
	<div class="container-fluid">
		<div id="delete-post-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Are you sure you want to delete this post? </h4>
					</div>
					<div class="modal-body">
						<form name="delete-post-form" method="post" novalidate>
							<input type="hidden" name="action" value="delete-post">
							<div class="row">
								<div class="form-group col-xs-12">
									<button type="submit" class="btn btn-danger">Delete</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete Comment Modal -->
	<div class="container-fluid">
		<div id="delete-comment-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Are you sure you want to delete this comment? </h4>
					</div>
					<div class="modal-body text-center">
						<form name="delete-comment-form" method="post" novalidate>
							<input type="hidden" name="action" value="delete-comment">
							<input type="hidden" id="delete-comment-button-hidden-input" name="comment_id" value="">
							<div class="row">
								<div class="form-group col-xs-12">
									<button type="submit" class="btn btn-danger">Delete</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
