{% extends "base.html" %}

{% block content %}

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>Register</h1>
						<hr class="small">
						<span class="subheading">To post replies on this blog.</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<form name="registerForm" id="registerForm" method="post" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Username</label>
							<input type="text" class="form-control" placeholder="Username" name="username" required data-validation-required-message="Please enter your Username." value="{{username}}">
							<p class="help-block text-danger error">
								{{error_username}}
							</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Email Address</label>
							<input type="email" class="form-control" placeholder="Email Address" name="email" required data-validation-required-message="Please enter your email address." value="{{email}}">
							<p class="help-block text-danger">
								{{error_email}}
							</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Password</label>
							<input type="Password" class="form-control" placeholder="Password" name="password" required data-validation-required-message="Please enter your password">
							<p class="help-block text-danger">
								{{error_password}}
							</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Password Confirmation</label>
							<input type="Password" class="form-control" placeholder="Password" name="pass-conf" required data-validation-required-message="Please enter your password">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-default">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<hr>
{% endblock %}
